@* Views/Home/Pagina1.cshtml *@
@{
    ViewData["Title"] = "Pagina3";
}
<head>
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
</head>
<div class="text-center">
    <h1 class="display-4">Laboratorios con Red de Distribución Propia (Ej: Farmindustria, Hersil, Medifarma)</h1>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsws8-uVhYfVQSsDc_f8koohcTz9Yig-yK0A&s" class="card-img-top" alt="Imagen de Internet">
                <div class="card-body">
                    <p class="card-text">Más informacion</p>
                    <p class="card-text">ingrese a: <a href="https://www.udemy.com/course/csharp_cursototal_programador/?audience=Keyword&campaigntype=Search&gad_source=1&gclid=EAIaIQobChMI65y40q3MjAMVFGhHAR3fty5aEAAYASAAEgKGnPD_BwE&language=ES&portfolio=ROW-Spanish&product=Course&test=&topic=C&utm_campaign=Search_Keyword_Beta_Prof_la.ES_cc.ROW-Spanish&utm_medium=udemyads&utm_source=adwords&couponCode=2021PM25#(programminglanguage)&priority=Beta&utm_content=deal4584&utm_term=_._ag_167955714471_._ad_706615896644_._kw_curso%20completo%20c%23_._de_c_._dm__._pl__._ti_kwd-307993029738_._li_9222081_._pd__._&matchtype=b">Dar Click</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="container2">
                <p>
                    <strong>Tipo de empresa:  </strong>Grandes laboratorios farmacéuticos productores.
                </p>
                <p>
                    <strong>Actividad Principal: </strong> Además de investigar, desarrollar y producir medicamentos, muchos de estos laboratorios cuentan con sus propias redes de distribución o sistemas logísticos robustos para asegurar que sus productos lleguen a farmacias, clínicas, hospitales y distribuidores regionales. Esto les permite un mayor control sobre la cadena de suministro.
                </p>         
            </div>
        </div>

        <!-- Columna de video -->
        <div class="col-md-6">
            <div class="container-video">
                <div class="video-card">
                    <h2 class="mb-4">Video</h2>
                    <div class="video-responsive">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/5ry4XETbU7I?si=6rXh-kO7lU5LWrbC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <p>Arquitectura y diseño de software</p>
    <p>Roy Vito</p>
</div>