@* Views/Home/Pagina2.cshtml *@
@{
    ViewData["Title"] = "Pagina2";
}
<head>
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
</head>
<div class="text-center">
    <h1 class="display-4">F&S Pharma</h1>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStV3XJbtITmW9fIoxf5Raee018kebvklnqnQ&s" class="card-img-top" alt="Imagen de Internet">
                <div class="card-body">
                    <p class="card-text">Más información</p>
                    <p class="card-text">ingrese a: <a href="https://azure.microsoft.com/es-es/resources/cloud-computing-dictionary/what-is-java-programming-language">Dar Click</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="container2">
                <p>
                    <strong>Tipo de empresa:</strong> Droguería y distribuidor farmacéutico.<br><br>
                    <strong>Actividad Principal:</strong> Distribución de productos farmacéuticos, dispositivos médicos y productos de cuidado de la salud. Su enfoque es la atención al canal farmacéutico minorista (farmacias y boticas) y también al sector hospitalario.<br><br>
                    <strong>Alcance:</strong> Nacional.<br><br>
                    <strong>Productos/Servicios:</strong> Ofrecen medicamentos, productos cosméticos, fragancias, protectores solares, productos para bebés y niños, productos de aseo personal, cuidado bucal y corporal, de diversas marcas.<br><br>    
                </p>
            </div>
        </div>

        <!-- Columna de video -->
        <div class="col-md-6">
            <div class="container-video">
                <div class="video-card">
                    <h2 class="mb-4">Video</h2>
                    <div class="video-responsive">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/G9JMWPN6d5k?si=KhwNG33LelKbGJS6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <p>Arquitectura y diseño de software</p>
    <p>Roy Vito</p>
</div>