@* Views/Home/Pagina1.cshtml *@
@{
    ViewData["Title"] = "Pagina1";
}
<head>
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
</head>
    <div class="text-center">
        <h1 class="display-4">Alicorp</h1>
    </div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxtttvda8D-1-BDFtr1G4xVk7K9jSqA_LpcA&s" class="card-img-top" alt="Imagen de Internet">
                <div class="card-body">
                    <p class="card-text">Más información</p>
                    <p class="card-text">ingrese a: <a href="https://www.udemy.com/course/csharp_cursototal_programador/?audience=Keyword&campaigntype=Search&gad_source=1&gclid=EAIaIQobChMI65y40q3MjAMVFGhHAR3fty5aEAAYASAAEgKGnPD_BwE&language=ES&portfolio=ROW-Spanish&product=Course&test=&topic=C&utm_campaign=Search_Keyword_Beta_Prof_la.ES_cc.ROW-Spanish&utm_medium=udemyads&utm_source=adwords&couponCode=2021PM25#(programminglanguage)&priority=Beta&utm_content=deal4584&utm_term=_._ag_167955714471_._ad_706615896644_._kw_curso%20completo%20c%23_._de_c_._dm__._pl__._ti_kwd-307993029738_._li_9222081_._pd__._&matchtype=b">Dar Click</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="container2">
                <p>
                    <strong>Conceptos Básicos: </strong><br><br>
                    <strong>Tipo de empresa: </strong> Uno de los mayoristas de tecnología más grandes de Latinoamérica y el Caribe.
                </p>
                <p>
                    <strong>Actividad Principal</strong>
                </p>
                <ul class="justificar-lista">
                    <li>Venta directa de productos farmacéuticos, de higiene, belleza y conveniencia al consumidor final. Aunque son retailers, poseen gigantescos centros de distribución y una logística interna altamente sofisticada para abastecer eficientemente su vastísima red de miles de boticas a nivel nacional. Funcionan como sus propios grandes distribuidores.</li>
                </ul>
                <p>
                    <strong>Alcance: </strong> Nacional, con la mayor capilaridad y número de puntos de venta en el país.
                </p>
                <p>
                    <strong>Productos/Servicios: </strong> Medicamentos (con y sin receta), productos de higiene personal, productos de belleza, suplementos nutricionales, artículos de conveniencia, y marcas propias. Están en constante mejora de su infraestructura logística, como la próxima operación de Inkafarma en el parque logístico del nuevo aeropuerto Jorge Chávez.
                </p>
            </div>
        </div>

        <!-- Columna de video -->
        <div class="col-md-6">
            <div class="container-video">
                <div class="video-card">
                    <h2 class="mb-4">Video</h2>
                    <div class="video-responsive">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/CGzizMudLKE?si=bJ9N48yxJsdD2rHC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
